<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundleExecutable</key>
    <string>AkazaIME</string>
    <key>CFBundleDisplayName</key>
    <string>Akaza</string>
    <key>CFBundleName</key>
    <string>Akaza</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>NSPrincipalClass</key>
    <string>NSApplication</string>
    <key>CFBundleIdentifier</key>
    <string>com.github.tokuhirom.inputmethod.Japanese.Akaza</string>
    <key>TISInputSourceID</key>
    <string>com.github.tokuhirom.inputmethod.Japanese.Akaza</string>
    <key>CFBundleIconFile</key>
    <string>akaza.icns</string>

    <key>LSBackgroundOnly</key>
    <true/>
    <key>LSUIElement</key>
    <true/>

    <key>InputMethodConnectionName</key>
    <string>com.github.tokuhirom.inputmethod.Japanese.Akaza_Connection</string>
    <key>InputMethodServerControllerClass</key>
    <string>AkazaInputController</string>

    <key>TISIntendedLanguage</key>
    <string>ja</string>
    <key>TISIconIsTemplate</key>
    <true/>

    <key>ComponentInputModeDict</key>
    <dict>
      <key>tsInputModeListKey</key>
      <dict>

        <key>com.github.tokuhirom.inputmethod.Japanese.Akaza.Japanese</key>
        <dict>
          <key>TISInputSourceID</key>
          <string>com.github.tokuhirom.inputmethod.Japanese.Akaza.Japanese</string>
          <key>TISIntendedLanguage</key>
          <string>ja</string>
          <key>tsInputModeScriptKey</key>
          <string>smJapanese</string>
          <key>tsInputModeDefaultStateKey</key>
          <true/>
          <key>tsInputModeIsVisibleKey</key>
          <true/>
          <key>tsInputModePrimaryInScriptKey</key>
          <true/>
          <key>tsInputModeJISKeyboardShortcutKey</key>
          <integer>1</integer>
          <key>tsInputModeMenuIconFileKey</key>
          <string>akaza.tiff</string>
          <key>tsInputModePaletteIconFileKey</key>
          <string>akaza.tiff</string>
        </dict>

        <key>com.github.tokuhirom.inputmethod.Japanese.Akaza.Roman</key>
        <dict>
          <key>TISInputSourceID</key>
          <string>com.github.tokuhirom.inputmethod.Japanese.Akaza.Roman</string>
          <key>TISIntendedLanguage</key>
          <string>en</string>
          <key>tsInputModeScriptKey</key>
          <string>smRoman</string>
          <key>tsInputModeDefaultStateKey</key>
          <true/>
          <key>tsInputModeIsVisibleKey</key>
          <true/>
          <key>tsInputModePrimaryInScriptKey</key>
          <false/>
          <key>tsInputModeJISKeyboardShortcutKey</key>
          <integer>3</integer>
          <key>tsInputModeMenuIconFileKey</key>
          <string>akaza.tiff</string>
          <key>tsInputModePaletteIconFileKey</key>
          <string>akaza.tiff</string>
        </dict>

      </dict>

      <key>tsVisibleInputModeOrderedArrayKey</key>
      <array>
        <string>com.github.tokuhirom.inputmethod.Japanese.Akaza.Japanese</string>
        <string>com.github.tokuhirom.inputmethod.Japanese.Akaza.Roman</string>
      </array>
    </dict>

    <key>tsInputMethodCharacterRepertoireKey</key>
    <array>
      <string>Latn</string>
      <string>Hira</string>
      <string>Kana</string>
    </array>
    <key>tsInputMethodIconFileKey</key>
    <string>akaza.tiff</string>

  </dict>
</plist>
