<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundleExecutable</key>
    <string>mac-akaza</string>
    <key>CFBundleDisplayName</key>
    <string>Akaza</string>
    <key>CFBundleName</key>
    <string>Akaza</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>NSPrincipalClass</key>
    <string>NSApplication</string>
    <key>CFBundleIdentifier</key>
    <string>com.github.tokuhirom.inputmethod.Japanese.Akaza</string>
    <key>CFBundleIconFile</key>
    <string>akaza.icns</string>

    <key>LSBackgroundOnly</key>
    <string>1</string>
    <key>InputMethodConnectionName</key>
    <string>AkazaIME_1_Connection</string>
    <key>InputMethodServerControllerClass</key>
    <string>AkazaInputController</string>
    <key>tsInputMethodIconFileKey</key>
    <string>akaza.tiff</string>
    <key>tsInputMethodCharacterRepertoireKey</key>
    <array>
      <string>Latn</string>
      <string>Hira</string>
    </array>

  </dict>
</plist>
